html {
	font-family: 'EB Garamond', serif;
}
p {
	font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
body {
	width: 60%;
	margin: 0 auto;
}
h1 {
	color: #C51162;
	font-family: 'Voltaire', sans-serif;
}
.proj {
	margin: 80px 0;
}
h3 a {
	color: #F50057;
	text-decoration: none;
}